.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.25rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: #fafafa;
  display: block;
  font-family: Exo;
}

.header-menu a:hover {
  background: -webkit-linear-gradient(
    331deg,
    #e358da,
    #c14fdb,
    #ac42d0,
    #8632b8,
    #5b2f92,
    #381768,
    #19135b
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 1000% 1000%;
  animation: linear-gradient 5s ease-in-out infinite;
  transition: .3s;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #141414;
    border-radius: 4px;
  }
}
