.introducao {
  max-width: 1200px;
  padding: 100px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
  font-family: Exo;
}

.introducao h1 span {
  background: -webkit-linear-gradient(
    331deg,
    #e358da,
    #c14fdb,
    #ac42d0,
    #8632b8,
    #5b2f92,
    #381768,
    #19135b
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 1000% 1000%;
  animation: linear-gradient 5s ease-in-out infinite;
}

@keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background-image: url(/img/detalhe-intro.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  left: -10px;
}

.introducao p {
  font-size: 1.5rem;
  color: #9f9f9f;
}

.introducao .introducao-foto {
  height: 100%;
  object-fit: cover;
  object-position: center;
  justify-self: center;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px 20px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    height: 15px;
    width: 15px;
    left: -5px;
  }
}

@media (max-width: 500px) {
  .introducao .introducao-foto {
    height: auto;
    width: 340px;
    position: relative;
    align-self: center;
    margin-bottom: 40px;
  }
  .introducao {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .introducao h1 {
    font-size: 2rem;
  }
}
